/*Creando una funcion root para usar este color en el proyecto */
:root{
    --colorTextos: #49454567;
}

/*Alterando todos los parametros de imagen por defecto*/
*,
::before,
::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/*Alterando el cuerpo en un color de gradado y ajustando la medida*/

body{
    font-family: 'Roboto';
    background: #F2994A;
      /* El background adaptable para los buscadores mas antiguos */
    background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F2C94C, #F2994A);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* width: 100%;  */
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*El tamaño del texto, registro */
h1{
    text-align: center;
    font-weight: 700;
}

/* El tamaño del form y se le quitan los bordes */
form{
    background: white;
    padding: 40px 25px; /* Por el momento 25 horizontales */
    box-shadow: 0 0 6px rgba(255, 255, 225 , 0.8) ;
    border-radius: 10px;
}

/* Para crear un margen y un espaciado dentro de cuadro form sin afectar el original */
.form{
    width: 100%;
    margin: auto;
    
}

/* Se crea un espaciado horizontal entre los cuadros de texto del formulario*/
form .grupo{
    position: relative;
    margin: 35px ;/* Pongo 35 pero se puede reducir */
    
}

/*Se crea un espacio vertical entre los cuadros de texto del formulario*/
input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px ;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

/*Cuando estemos enfocados en un cuadro en especifico ponemos el color #5e5d5d */
input:focus{
    outline: none;
    color: #5e5d5d;
}

/* La posicion de la etiqueta dentro del cuadro de texto*/
label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

/* Al tener un focus en el cuadro la etiqueta pasa -15px arriba para que no se sobre ponga el texto*/
input:focus~label,
input:valid~label{
    top: -15px;
    font-size: 12px;
    color: #2196f3;
}

/* */
.barra{
    position: relative;
    display: block;
    width: 100%;
}

/* La barra se pone del color del background */
.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to left, #F2C94C, #F2994A);
    transition: 0.3s ease width;
    left: 0px;
}

/*Para alterar solo la barra en el momento que se selecciona dandole el 100%*/
input:focus~.barra::before{
        width: 100%;
}

/* Tamaño y color del boton del mismo color del background del body*/
button{
    font-family: 'roboto';
    background: #F2994A;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F2C94C, #F2994A);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: black;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

/* Se usa para que el programa pueda ser responsive y con 500px se ajuste */
@media screen and (max-width:500px) {
    form{
        width: 80%;
    }
}